/* Este archivo cambia las propiedades de los objetos HTML para implementar un estilo oscuro */

body {
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: #000000; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro para mayor legibilidad en modo oscuro */
}

input {
    width: 20%;
    height: 20px;
    background-color: #2C2C2C; /* Fondo de input oscuro */
    color: white; /* Texto claro */
    border: 1px solid #444; /* Borde sutil para los input */
}

input[type=text] {
    font-size: 20px;
}

input[type=submit] {
    width: 10em;
    height: 2.5em;
    font-size: 30px;
    background-color: #005f73; /* Color oscuro para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #003049; /* Color de fondo oscuro para botones */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 4px 10px;
    cursor: pointer;
}

h1 {
    color: #FFB703; /* Color claro para el título */
    font-size: 35px;
}

h2 {
    color: #FFB703;
    font-size: 25px;
    text-align: center;
}

h3 {
    color: #f6f4f0;
    font-size: 20px;
    text-align: center;
}

h4 {
    color: #f6f4f0;
    font-size: 25px;
    text-align: left;
}


table.center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #444;
    width: 90%;
    text-align: center;
    font-size: 25px;
    background-color: #242424; /* Fondo de la tabla oscuro */
    color: #e0e0e0; /* Texto claro */
}

table.center th, table.center td {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #444; /* Borde claro */
}

table.center th {
    background-color: #005f73; /* Fondo oscuro para encabezados */
    color: white; /* Texto claro para encabezados */
}

table.center tr:nth-child(even) {
    background-color: #2C2C2C; /* Fondo para filas pares */
}

table.center tr:hover {
    background-color: #333333; /* Fondo al pasar el ratón */
}

/* Estilos para la tabla desplazable */
.table-container {
    overflow: auto;
    max-width: 100%;
    max-height: 600px;
}

.scrollable-table {
    height: 400px;
    overflow-y: auto;
    display: block;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    overflow: hidden;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center; /* Centrar el contenido */
    display: inline-block; /* Ajustar al contenido */
}

.navbar a {
    display: inline-block; /* Centrar elementos de la barra de navegación */
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilo responsivo para el menú (para pantallas pequeñas) */
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }
}

.logout-button {
    /* Estilos para el contenedor del botón */
    text-align: center;
    margin-top: 20px;
}

.btn-logout {
    /* Estilos para el botón */
    display: inline-block;
    padding: 10px 20px;
    background-color: #003049; /* Color de fondo oscuro, similar a otros botones */
    color: white; /* Texto claro para contraste */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; /* Tamaño del texto */
    transition: background-color 0.3s ease; /* Transición suave para efecto al pasar el ratón */
}

.btn-logout:hover {
    background-color: #005f73; /* Color ligeramente más claro al pasar el ratón */
}
.titulo-suscripciones {
    text-align: left;
    margin-left: 50px; /* Ajusta este valor según sea necesario */
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus preferencias */
    font-weight: bold;
    color: #e0e0e0;
}

#modalProveedorVideojuegos, #modalProveedorPeliculasSeries {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border: 1px solid #FFB703;
    z-index: 1000;
    display: none;
}


.proveedores-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.proveedor-bloque {
    background-color: #333; /* Un poco más claro que el negro */
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 10px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    transition: background-color 0.3s; /* Efecto suave al cambiar de color */
}

.proveedor-bloque:hover {
    background-color: #444; /* Cambia el color al pasar el ratón */
}

.proveedor-bloque-videojuego {
    background-color: #333; /* Un poco más claro que el negro */
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 10px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    transition: background-color 0.3s; /* Efecto suave al cambiar de color */
}
.proveedor-bloque-videojuego:hover {
    background-color: #444; /* Cambia el color al pasar el ratón */
}

.formulario-busqueda input[type="text"] {
    width: 40%; /* Ajusta este valor según tus necesidades */
    margin-bottom: 0;
    font-size: 16px; /* O el tamaño de fuente que prefieras */
}

.formulario-busqueda .inputs-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%; /* Esto asegura que el contenedor de los inputs use todo el ancho disponible */
}

.formulario-busqueda .btn-logout {
    font-size: 20px; /* Tamaño de fuente más pequeño */
    padding: 8px 15px; /* Menos padding para reducir el tamaño general */
    width: auto; /* O podrías especificar un ancho fijo si lo prefieres */
    margin-top: 10px;
}

.btn-home {
    /* Estilos para el botón 'Home' */
    display: inline-block;
    padding: 10px 20px;
    background-color: #003049; /* Un color de fondo diferente para distinguirlo */
    color: white; /* Texto claro para contraste */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; /* Tamaño del texto */
    transition: background-color 0.3s ease; /* Transición suave para efecto al pasar el ratón */
}

.btn-home:hover {
    background-color: #81A1C1; /* Un color más claro al pasar el ratón */
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 900px; /* Adjust this value as needed */
}